html { 
    font-size:62.5%; 
    box-sizing: border-box;
}

button {
    cursor: pointer;
    
}
button:disabled{
    cursor: auto;
    opacity: 0.5;
}

.bn-onboard-modal {
    z-index: 999;
}


.container {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.box {
    width: 80%;
    height: 300px;
    margin-left: 10px;
    background-color: cornflowerblue;
}

.leftContainer {
    flex: 2;
    background-color: red;
}
.rightContainer {
    flex: 8;
    background-color: blue;
}