body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .notification-info {
  background-color: #2184f8 !important;
}

.notification-success {
  background-color: #4d984f !important;
}

.notification-warning {
  background-color: #e24545 !important;
}

.notification-message .title {
  font-weight: 700 !important;
  font-size: 1.125rem !important;
}

.notification-message .message {
  font-weight: 500;
  font-size: 0.875rem;
}

.notification {
  box-sizing: border-box;
  padding: 25px 25px 25px 60px;
  border-radius: 2px;
  box-shadow: 0 0 12px #999;
  cursor: pointer;
  line-height: 1.8em;
  position: relative;
  opacity: 1;
  margin-top: 15px;
} */

.notification-info {
  background-color: #1D4ED8!important; /*  #2184f8  */
}

.notification-success {
  background-color: #4d984f !important;
}

.notification-warning {
  background-color: #e19f2e !important;
}

.notification-message .title {
  font-weight: 700 !important;
  font-size: 1.125 !important;
}

.notification-message .message {
  font-weight: 500;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.notification-container {
  width: 100%;
  min-height: 130px;
  padding: 20px;
}

.notification {
  box-sizing: border-box;
  padding: 10px 25px 10px 80px;
  box-shadow: 0 0;
  border-radius: 5px;
  /* border-radius: 12px !important; */
  /* border-start-start-radius: 24px !important; */
  /* border-end-start-radius: 24px !important; */
  cursor: pointer;
  line-height: 1.8em;
  position: relative;
  opacity: 1;
  min-height: 60px;
  display: flex;
  align-items: center;
  /* margin-top: 15px; */
}
.notification:before {
  position: absolute;
  top: 50%;
  left: 26px;
  margin-top: -14px;
  display: block;
  font-family: "Notification";
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}
.notification-container-empty {
  width: 0px;
  height: 0px;
  padding: 0px;
}

@media (min-width: 1024px) {
  .notification-container {
      padding: 0 0 0 0;
      top: 80px;
      min-width: 0px;
      max-width: 335px;
  }

  .notification {
      border-radius: 10px 0px 0px 10px;
  }
}

.swiper-container {
  margin: 0 20px;
  overflow: hidden;
  height: 100%;
  position: relative;
  max-width: 700px;
  /* top: -70px !important;
  margin-top: -70px !important; */
}
.swiper-wrapper {
  position: absolute !important;
  width: 100%;
  margin: 0 auto !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.swiper-slide.swiper-slide-next {
  height: 300px !important;
}

.swiper-slide {
  text-align: center;
  width: 95%;
  height: 300px;
  /* margin-top: -70px !important; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  opacity: 0.3;
}

.swiper-slide.swiper-slide-active {
  width: 100%;
  height: 300px !important;
  /* margin-top: -70px !important; */
  /* margin-bottom: -30px !important; */
  opacity: 1;
}

@media (max-width: 786px) {
  .swiper-slide {
    height: 280px;
  }
  .swiper-slide.swiper-slide-next {
    height: 280px !important;
  }
  .swiper-slide.swiper-slide-active {
    height: 280px !important;
  }
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/Montserrat-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url(./fonts/Montserrat-ExtraBold.ttf) format("truetype");
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
  background: transparent; /* Optional: just make scrollbar invisible */
}
